version: '3.8'
services:
  db:
    image: mongo:latest
    container_name: db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    env_file:
      - .env
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      - my-network



  backend: 
    image: prajwal810/mean-backend:latest
    container_name: mean-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my-network
      
  frontend:
    image: prajwal810/mean-frontend:latest
    container_name: mean-frontend
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_started
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
  
volumes:
  mongo_data:
    driver: local
  
